<!DOCTYPE html>
<html lang="en">

<head> 
<!--     <meta charset="UTF-8"> -->
<!--     <meta name = "viewport"> -->
    <title> LED Status FrontEnd </title>
    <link rel="stylesheet" href="https://github.com/lenduong/EE250-Collab/blob/final-project-updated/final_project/http/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
</head>
<body style="background-color: black;">
    <h1 style="color: white;"> Welcome to our LED Visualizer! </h1>
    <p style="color: white;">The LED is off.</p>   
    <img src="https://images.freeimages.com/clg/istock/previews/9026/90264359-burning-candle-in-the-dark-vector-element-for-your-creativity.jpg?fmt=webp&h=350" alt="Christmas tree with holiday lights on." style= "max-width: 100%; height: auto";>
</body>
</html>
